/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--blue: #3aa2db;
	--indigo: #6610f2;
	--purple: #b73188;
	--pink: #e83e8c;
	--red: #e52a2d;
	--orange: #ea5c28;
	--yellow: #f2911a;
	--green: #32b796;
	--teal: #20c997;
	--cyan: #17a2b8;

	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

	--wui-shade-01: hsl(0, 0%, 91%);
	--wui-shade-02: hsl(0, 0%, 85%);
	--wui-shade-03: hsl(0, 0%, 75%);
	--wui-shade-04: hsl(0, 0%, 65%);
	--wui-shade-05: hsl(0, 0%, 54%);

	--wui-text-01: hsl(0, 0%, 13%);
	--wui-text-02: hsl(0, 0%, 27%);
	--wui-text-03: hsl(240, 8%, 44%);
	--wui-text-04: hsl(240, 8%, 64%);
	--wui-text-05: hsl(240, 8%, 90%);

	--wui-radius: 0.5rem;
	--wui-header-height: 4rem;
	--wui-border: hsl(0, 0%, 77%);

	--wui-primary: hsla(16, 100%, 50%, 1);
	--wui-secondary: hsla(16, 100%, 30%, 1);
	--wui-primary-fg: hsl(0, 0%, 96%);

	--wui-header: var(--wui-background);
	--wui-outline: var(--wui-primary);
	--wui-foreground: var(--wui-text-01);
	--wui-background: hsl(0, 0%, 100%);

	color: var(--wui-foreground);
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Atkinson", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: black;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
	height: 100dvh;
}
.d3 {
	position: absolute !important;
	/*height: 100dvh !important;
    width: 100dvh !important;*/
	z-index: -1 !important;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

@view-transition {
	navigation: auto;
	types: slide, forwards;
}
